{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>CurrentLocation</th>
                <td>{{ user.currentLocation }}</td>
            </tr>
            <tr>
                <th>Adress</th>
                <td>{{ user.adress }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ user.gender }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ user.country }}</td>
            </tr>
            <tr>
                <th>Nationality</th>
                <td>{{ user.nationality }}</td>
            </tr>
            <tr>
                <th>Passport</th>
                <td>{{ user.passport }}</td>
            </tr>
            <tr>
                <th>Cv</th>
                <td>{{ user.cv }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ user.picture }}</td>
            </tr>
            <tr>
                <th>Birthdate</th>
                <td>{{ user.birthdate ? user.birthdate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>JobSector</th>
                <td>{{ user.jobSector }}</td>
            </tr>
            <tr>
                <th>Experience</th>
                <td>{{ user.experience }}</td>
            </tr>
            <tr>
                <th>ShortDescription</th>
                <td>{{ user.shortDescription }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ user.notes }}</td>
            </tr>
            <tr>
                <th>DateCreatedAt</th>
                <td>{{ user.dateCreatedAt ? user.dateCreatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateUpdatedAt</th>
                <td>{{ user.dateUpdatedAt ? user.dateUpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateDeletedAt</th>
                <td>{{ user.dateDeletedAt ? user.dateDeletedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}">back to list</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
